#This Apache config file was created by Duplicator Installer on 2019-08-06 09:51:08.
#The original can be found in archived file with the name htaccess.orig

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /projects/neil/sass-herostencil/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /projects/neil/sass-herostencil/index.php [L]
</IfModule>
# END WordPress