.appointment-content h2,
.appointment-content p,
.appointment-content p a {
	color: color('white');
}

.request-appointment {
	.recaptcha-container,
	.submit-container {
		.nf-field-element {
			width: auto;
			position: relative;
			margin: 0 auto;
		}
		input {
			background-color: transparent;
		}
	}
	.submit-container {
		.nf-field-element:before {
			content:"";
			background: url(../../images/req-arrow.png) no-repeat;
			background-position: right center;
			width: 64px;
			height: 48px;
			display: block;
			position: absolute;
			top: 50%;
			right: -30px;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
			z-index: 1;
		}
	}
}
