/*--- Welcome info Blocks ---*/

.welcome-informatics {
	width: 100%;
	height: auto;
	@include display(block);
	@include position(relative, 0, auto, auto, 0);
	margin-top: -150px; 
	z-index: 1; 
	.wrapper{
	    @include display(flex, center, wrap, flex-end);
	    text-align: center; 
	    @include position(relative, 0, auto, auto, 0);
	}
}