.services-section { }
.services-section .wrapper {

}
.services-section ul { }
.services-section li {  }
.services-section li .service-image { }
.services-section li .service-image img {}
.services-section li:hover .service-content {opacity: 1;}
/** services section typo */

.services-section li h2 { font-size: 20px; color: #000;}
.services-section li h3 { font-size: 1.2rem; color: #8D3006; }

.services-section li .service-content {}



@media (max-width:767px){

}
@media (max-width:480px){

}
