// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Main content containers
 */
/*
.container {
	width: 100%;
	max-width: $wrapper-width;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;

	&-fluid {
		width: 100%;
		margin: auto;
		padding-right: 50px;
		padding-left: 50px;
	}
}
*/
/* row and column */
/*.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -20px;
	margin-left: -20px;

	&.no-gutters {
		margin-right: 0;
		margin-left: 0;

		>[class*="cell-"] {
			padding-right: 0;
			padding-left: 0;
		}
	}
}*/
/*
[class*="cell-"] {
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	width: 100%;
}*/

/** position classes */
.position {
	&-relative {
		position: relative;
	}
	&-absolute {
		position: absolute;
	}
	&-fixed {
		position: fixed;
	}
	&-static {
		position: static;
	}
}


.d {
	&-flex {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		img {
			align-self: center;
		}
		&.flex-nowrap {
			-ms-flex-wrap: nowrap;
			flex-wrap: nowrap;
		}
		&.align {
			&-items-center {
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
			}

			&-content-center {
				-ms-flex-line-pack: center;
				align-content: center;
			}

			&-items-end {
				-ms-flex-align: end;
				align-items: flex-end;
			}

			&-items-start {
				-ms-flex-align: start;
				align-items: flex-start;
			}
		}
		&.justify {
			&-content-center {
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				justify-content: center;
			}
			&-content-end {
				-webkit-box-pack: end;
				-ms-flex-pack: end;
				justify-content: flex-end;
			}
			&-content-between {
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between;
			}

			&-content-around {
				-ms-flex-pack: distribute;
				justify-content: space-around;
			}

			&-content-start {
				-webkit-box-pack: start;
				-ms-flex-pack: start;
				justify-content: flex-start;
			}

		}
	}
	&-block {
		display: block;
	}
	&-inline-block {
		display: block;
	}
	&-none {
		display: none;
	}
	&-table {
		display: table;
	}
	&-table-cell {
		display: table-cell;
	}
}

.block-animate {
	.opacity-0 {
		opacity: 0;
		visibility: hidden;
	}
	&:hover {
		.opacity-0 {
			opacity: 1;
			visibility: visible;
		}
	}
}


.list {
	&-none {
		list-style: none;
	}
	&.disc {
		list-style: disc;
	}
	&.circle {
		list-style: circle;
	}
}

.transition {
	-webkit-transition: 0.5s ease all;
	-o-transition: 0.5s ease all;
	transition: 0.5s ease all;
}

.border-radius {
	&-full {
		border-radius: 100% ;
	}
}

@each $spaceamount-key in $spaceamounts {
	.row-#{$spaceamount-key} {
		margin: 0 -#{$spaceamount-key}px;
	}
	.top-#{$spaceamount-key} {
		top: #{$spaceamount-key}px;
	}
	.left-#{$spaceamount-key} {
		left: #{$spaceamount-key}px;
	}
	.right-#{$spaceamount-key} {
		right: #{$spaceamount-key}px;
	}
	.bottom-#{$spaceamount-key} {
		bottom: #{$spaceamount-key}px;
	}
	.border-radius-#{$spaceamount-key} {
		border-radius: #{$spaceamount-key}px;
	}
}

/** font sizes for desktop */
@for $i from 16 through 84 {
	@if ( $i%4 == 0 ) {
		.text-#{$i} {
			font-size: #{$i}px;
		}
	}
}

/** font sizes for responsive */
@each $bp-key, $bp in $breakpoints {
	@include respond-below($bp-key) {
		@for $i from 16 through 48 {
			@if ( $i%2 == 0 ) {
				.text-#{$bp-key}-#{$i} {
					font-size: #{$i}px;
				}
			}
		}
	}
}

/* column structure */
$grid-columns: 12;

$sidesY: (top, bottom);
$sidesX: (left, right);

@for $i from 1 through $grid-columns {
	.cell-#{$i} {
		width: percentage($i / $grid-columns);
	}
}



@each $space in $spaceamounts {

	@each $side in $sidesY {

		// margin
		.m#{str-slice($side, 0, 1)}-#{$space},
		.m-#{$space},
		.my-#{$space} {
			margin-#{$side}: #{$space}px;
		}

		// padding
		.p#{str-slice($side, 0, 1)}-#{$space},
		.p-#{$space},
		.py-#{$space} {
			padding-#{$side}: #{$space}px;
		}

		// position
		.position-#{$side}-#{$space}-px {
			#{$side}: #{$space}px;
		}
		.position-#{$side}-#{$space}-pt {
			#{$side}: percentage($space / 100);
		}
	}
	@each $side in $sidesX {
		// margin
		.m#{str-slice($side, 0, 1)}-#{$space},
		.m-#{$space},
		.mx-#{$space} {
			margin-#{$side}: #{$space}px;
		}

		// padding
		.p#{str-slice($side, 0, 1)}-#{$space},
		.p-#{$space},
		.px-#{$space} {
			padding-#{$side}: #{$space}px;
		}

		// position
		.position-#{$side}-#{$space} {
			#{$side}: #{$space}px;
		}
		.position-#{$side}-#{$space}-pt {
			#{$side}: percentage($space / 100);
		}
	}
}

.cell-none {
	display: none;
}

.cell-block {
	display: block;
}

.width {
	&-auto {
		width: auto;
	}
	&-inherit {
		width: inherit;
	}
	&-initial {
		width: initial;
	}
	&-0 {
		width: 0;
	}
	&-full {
		width: 100%;
	}
}

.height {
	&-auto {
		height: auto;
	}
	&-inherit {
		height: inherit;
	}
	&-initial {
		height: initial;
	}
	&-0 {
		height: 0;
	}
	&-full {
		height: 100%;
	}
}

.overflow {
	&-hidden {
		overflow: hidden;
	}
	&-x-hidden {
		overflow-x: hidden;
	}
	&-y-hidden {
		overflow-y: hidden;
	}
	&-auto {
		overflow: auto;
	}
	&-x-auto {
		overflow-x: auto;
	}
	&-y-auto {
		overflow-y: auto;
	}
}

/* for home page image src set need to add specific padding top */
// .image-src img {position: absolute; top: 50%; left: 50%; width: 100%; height: 100%; max-width: 100%; max-width: none; object-fit: cover; }





@each $bp-key, $bp in $breakpoints {
	@include respond-below($bp-key) {
		@for $i from 1 through $grid-columns {
			@if ( $i%2 == 0 ) {
				.cell-#{$bp-key}-#{$i} {
					width: percentage($i / $grid-columns);
				}
			}
		}
		/*
		.innbaner {
			@each $pt-key in $innbaneramounts {
				&.pt-#{$bp-key}-#{$pt-key} {
					padding-top: percentage($pt-key / 100);
				}
			}
		}
		*/
		@each $spaceamount-key in $spaceamounts {
			.row-#{$bp-key}-#{$spaceamount-key} {
				margin: 0 -#{$spaceamount-key}px;
			}
		}

		@each $space in $spaceamounts {
			@each $side in $sidesY {

				// margin
				.m#{str-slice($side, 0, 1)}-#{$bp-key}-#{$space},
				.m-#{$space},
				.my-#{$bp-key}-#{$space} {
					margin-#{$side}: #{$space}px;
				}

				// padding
				.p#{str-slice($side, 0, 1)}-#{$bp-key}-#{$space},
				.p-#{$space},
				.py-#{$bp-key}-#{$space} {
					padding-#{$side}: #{$space}px;
				}
			}
			@each $side in $sidesX {

				// margin
				.m#{str-slice($side, 0, 1)}-#{$bp-key}-#{$space},
				.m-#{$space},
				.mx-#{$bp-key}-#{$space} {
					margin-#{$side}: #{$space}px;
				}

				// padding
				.p#{str-slice($side, 0, 1)}-#{$bp-key}-#{$space},
				.p-#{$space},
				.px-#{$bp-key}-#{$space} {
					padding-#{$side}: #{$space}px;
				}
			}
		}
	}
}

/* text alignment */
.text {
	&-center {
		text-align: center;
	}

	&-right {
		text-align: right;
	}

	&-left {
		text-align: left;
	}

	&-justify {
		text-align: justify;
	}
}

/* wordpress align class */
.align {
	&none {
		float: none;
		margin: 20px 0;
	}

	&center {
		display: block;
		clear: both;
		margin: 20px auto;
	}

	&left {
		float: left;
		margin: 0 20px 20px 0;
	}

	&right {
		float: right;
		margin: 0 0 20px 20px;
	}
}

.transform-center {
	 -webkit-transform: translate(-50%, -50%);
	 -ms-transform: translate(-50%, -50%);
	 -o-transform: translate(-50%, -50%);
	 transform: translate(-50%, -50%);
}

.image-src {
	 @each $pt-key in $innbaneramounts {
		&.pt-#{$pt-key} {
			padding-top: percentage($pt-key / 100);
		}
	}
	@extend .width-full, .position-relative, .overflow-hidden, .d-block, .height-0 ;
	img {
		@extend .position-absolute, .position-top-50-pt, .position-left-50-pt, .transform-center, .height-full ;
		object-fit: cover;
	}
}
