/**
 * Basic typography style for copy text
 */
body {
	font-size: $font-size-base;
	font-family: $font-family-base;
    font-weight: 400;
	color: $black;
	line-height: 1.7;
}

// Heading style
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;
	color: $black;
	a {
		color: inherit;
		text-decoration: none;
	}
}

h1 {
	font-size: $font-size-h1;
	@extend .heading-style, .d-flex ;

	@include breakpoint(sm) {
		font-size: $font-size-h1 / 1.5;
	}
}

h2,
.h2 {
	font-size: $font-size-h2;

	@include breakpoint(sm) {
		font-size: $font-size-h2 / 1.5;
	}
}

h3 {
	font-size: $font-size-h3;

	@include breakpoint(sm) {
		font-size: $font-size-h3 / 1.5;
	}
}

h4 {
	font-size: $font-size-h4;

	@include breakpoint(sm) {
		font-size: $font-size-h4 / 1.2;
	}
}

h5 {
	font-size: $font-size-h5;

	@include breakpoint(sm) {
		font-size: $font-size-h5 / 1.1;
	}
}

h6 {
	font-size: $font-size-h6;

	@include breakpoint(sm) {
		font-size: $font-size-h6 - 2;
	}
}

p {
    font-family: $font-family-base;
    font-size: $font-size-base;
    color: $black;
    line-height: 1.6;
	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0;
	}
}

ul {
	padding-left: 40px;

	li {
        font-family: $font-family-base;
        font-size: $font-size-base;
        line-height: 1.6;
		padding-top: 6px;
		padding-bottom: 6px;

		&:last-child {
			padding-bottom: 0;
		}
	}
}

ol {
	padding-left: 40px;

	li {
		font-family: $font-family-base;
        font-size: $font-size-base;
        line-height: 1.6;
		padding-top: 6px;
		padding-bottom: 6px;

		&:last-child {
			padding-bottom: 0;
		}
	}
}

blockquote {
	position: relative;
	display: block;
	margin-bottom: 25px;
	margin-top: 30px;
	padding: 20px 20px;
	text-align: left;
	line-height: 2;
	font-size: $font-size-large;
	font-style: italic;
	color: $white;
	background-color: $darkgray;
	border-left: 4px solid $brand-primary;
}

hr {
    background-color: $darkgray;
    border: 0;
    height: 2px;
}

img {
	display: inline-block;
	height: auto;
	max-width: 100%;
	vertical-align: top;
	border: none;
}

img[src$=".svg"] {
	width: 100%;
	height: auto;
	display: inline-block;
	vertical-align: top;
}

#page {
    width: 100%;
}

.read-more {
    background: $brand-primary;
    color: $white;
    font-size: $font-size-small;
    font-weight: 700;
    border-radius: 5px;
    padding: 14px 22px;
    text-transform: uppercase;
    &:hover {
        text-decoration: none;
        background: $brand-secondary;
        color: $white;
    }
}


/* Forms
------------------------------------------------------------------------------*/
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    transition: background 150ms ease-in-out;
    background: #252869;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    color: $white;
    outline: none;
    padding: 16px 22px;
    text-decoration: none;
    vertical-align: bottom;
    font-size: $font-size-base;
    &:hover, &:focus {
        outline: none;
        cursor: pointer;
    }
}

/* Link
------------------------------------------------------------------------------*/
a {
	color: $brand-primary;
	transition: background-color 0.3s ease 0s, color 0.3s ease 0s;

	&:hover,
	&:focus {
		color: $brand-secondary;
		text-decoration: none;
		outline: none;
	}
}

/* Tables
------------------------------------------------------------------------------*/
table {
	border-spacing: 0;
	border-collapse: collapse;

	td {
		text-align: left;
		font-weight: normal;
	}
}

.table-responsive {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar
}

.table-bordered {

	width: 100%;
	max-width: 100%;
	text-align: left;
	td,th {
		vertical-align: bottom;
		border-bottom: 1px solid #ddd;
		padding: 10px;
	}
}
